
body{
	border-left-color: #B530D9;
	border-right-color: #B530D9;
	border-width: 220px;
	border-style: groove;
	border-top-width:0px;
	border-bottom-width:0px;
	
}

img{
	height:250;
	width:200;
}

h1{
	text-align:center;
}

p{
	text-align:justify;
	font-size:25px;
}

.fotog{
	height:250;
	width:300;
}

.ligas{
	text-align:center;
	font-size:25px;
}
