body{
	text-align:center;
	background-image:url(../Imagenes/fondo4.jpg);
}

.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 45px;
    color: #ffffff;
    background-color: #1BD4F1;
    border-radius: 6px;
    border: 2px solid #27C9E3;
  }
  .boton:hover{
    color: #1BD4F1;
    background-color: #ffffff;
  }
  
.vinculo{
	font-size:30px;
}